<?xml version="1.0"?>
<launch>
 <arg name="world" default="empty"/>
 <arg name="paused" default="false"/>
 <arg name="use_sim_time" default="ture"/>
 <arg name="gui" default="true"/>
 <arg name="headless" default="false"/>
 <arg name="debug" default="false"/>
 <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/title2.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
 <param name="robot_description" command="$(find xacro)/xacro $(find pkg_rob_des)/urdf/model.xacro"/>
 <node name="spawn_robot_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-param robot_description -urdf -model X_rob"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="True"/>
  </node>
   <node pkg="convert_v" type="convert_velicties.py" name="convert_vels" output ="screen">
    
</node>

<!--node pkg="convert_v" type="publish_twist.py" name="pub_twist" output ="screen">
    
</node-->

 <node pkg="odometry_compute" type="compute_odom.py" name="compute_odom" output="screen">
    
 </node>
  <!-- Combine joint values -->
  <!--node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/-->
 </launch>

 <!-- export LIBGL_ALWAYS_SOFTWARE=1 -->   <!-- befor launching-->