<?xml version="1.0"?>
<launch>
 <arg name="world" default="empty"/>
 <arg name="paused" default="false"/>
 <arg name="use_sim_time" default="ture"/>
 <arg name="gui" default="true"/>
 <arg name="headless" default="false"/>
 <arg name="debug" default="false"/>
 <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)"/>
 </include>
 <param name="robot_description" textfile="$(find des_pkg)/urdf/rob_model.urdf"/>
 <node name="spawn_robot_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-param des_pkg -urdf -model rob_rib
 -x 0 -y 0 -z 0"/>
 
 
 </launch>